[data-md-color-scheme="umi3d"] 
{
    --md-primary-fg-color:        #00bdd6;
    --md-primary-fg-color--light: #00bdd6;
    --md-primary-fg-color--dark:  #0093a6;
}

:umi3d
{
    --md-primary-fg-color:        #00bdd6;
    --md-primary-fg-color--light: #00bdd6;
    --md-primary-fg-color--dark:  #0093a6;
}



:root {
    --md-admonition-icon--time: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><title>clock-time-eight-outline</title><path d="M12 20C16.4 20 20 16.4 20 12S16.4 4 12 4 4 7.6 4 12 7.6 20 12 20M12 2C17.5 2 22 6.5 22 12S17.5 22 12 22C6.5 22 2 17.5 2 12C2 6.5 6.5 2 12 2M12.5 12.8L7.7 15.6L7 14.2L11 11.9V7H12.5V12.8Z" /></svg>')
  }
  .md-typeset .admonition.time,
  .md-typeset details.time {
    border-color: rgb(145, 185, 50);
  }
  .md-typeset .time > .admonition-title,
  .md-typeset .time > summary {
    background-color: rgba(43, 155, 70, 0.1);
  }
  .md-typeset .time > .admonition-title::before,
  .md-typeset .time > summary::before {
    background-color: rgb(145, 185, 50);
    -webkit-mask-image: var(--md-admonition-icon--time);
            mask-image: var(--md-admonition-icon--time);
  }